body,
html {
  height: 100%;
  margin: 0 auto;
  font-family: arial;
}
#root {
  height: 100%;
}
.App{
  height: 100%;
  .App-header{
    height: 60%;
    .banner{
      min-height: 100%; 
      background-image: url("../ressources/img/seth-schwiet-40984-unsplash.jpg");
      //Photo by Georgie Cobbs on Unsplash
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      .bannerContent{
        margin-top: 0;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        height: 100%;
        .name{
          opacity: 1;
        }
        .function{
          font-size: 20px;
          font-weight: 300;
        }
        .LinkedIn{
          height: 50px;
        }
      }
    }
  }
  .App-title{
    min-height: 10%;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:#1365a7;
    box-shadow: 0 5px 10px #f8f8f8;
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: 32px;
      font-weight: 500;
      color: white;
    }
  }
  .App-skills{
    min-height: 70%;
    overflow: auto;
    display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      align-content: center;
    .skillsContainer{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      .skillsCards{
        background-color: azure;
        min-height: 100%;
        width: 25%;
        margin: 2em;
        border-radius: 5px;
        box-shadow: 0 5px 10px #e2e2e2;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        padding: 10px;
        overflow: auto;
        img{
         height: 100px;
        }
        .skillsCardsContent{
          h6{
            color: #1365a7;
            font-size: 1.2rem;
            font-weight: 500;
            text-align: center;
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
            margin-top: 10px;
            margin-bottom: 18px;
          }
          p{
            text-align: center;
            font-size: 1.2rem;
          }
        }
      } 
    }
    
  }
  .App-portfolio{
    min-height: 60%;
    overflow: auto;
    .portfolioContainer{
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      .portfolioCards{
        background-color: azure;
        min-height: 100%;
        width: 25%;
        margin: 3em;
        margin-left: 5em;
        border-radius: 5px;
        box-shadow: 0 5px 10px #e2e2e2;
        background-color: #f8f8f8;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        overflow: auto;
        img{
         width: 100%;
        }
        h3{
          background-color: #003b78;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          height: 30px;
          width: 100%;
          font-size: 1.2rem;
          color: white;
          font-weight: 500;
          margin-block-start: 1.5em;
          margin-block-end: 1.5em;
          margin-top: 0px;
          margin-bottom: 18px;
        }
        .portfolioCardsContent{
          padding: 10px;
          h6{
            color: #1365a7;
            font-size: 1rem;
            font-weight: 500;
            text-align: center;
            margin-block-start: 1.5em;
            margin-block-end: 1.5em;
            margin-top: 10px;
            margin-bottom: 18px;
          }
          p{
            text-align: center;
            font-size: 1rem;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 800px) {
  .App{
    .App-skills{
      .skillsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        .skillsCards{
          width: 80%;
        } 
      }
    }
    .App-portfolio{
      .portfolioContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        .portfolioCards{
          width: 80%;
          margin: auto;
          margin-top: 2em;
          margin-bottom: 2em;
        } 
      }
    }
  }  
}

@media screen and (max-width: 360px) {
  .App{
    .App-header{
      .banner{
        background-image: url("../ressources/img/responsive.png");
      }
    }
  }
}